<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Login page</title>
        <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1"/>
        <link rel="stylesheet" href="/css/main.css" th:href="@{/css/main.css}" />
  		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
  		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  		<link rel="stylesheet" href="/css/login.css" th:href="@{/css/login.css}"/>
  		<link rel="stylesheet" href="/css/general.css"/>
  	</head>
    <body>
    
        <div th:substituteby="header::header"></div>
        <div class = "container topMove">
	        	<div class="wrapper">
	        		<form th:action="@{/login}" method="post" name="Login_Form" class="form-signin">
	        			<h3 class="form-signin-heading">Welcome! Please Sign In</h3>
				  		<hr class="colorgraph"/><br/>
	            		<p th:if="${loginError}" class="error">Wrong user or password</p>
	            		<input type="text" id="username" name="username" autofocus="autofocus" class="form-control" placeholder="Username"/> <br />
	            		<input type="password" id="password" name="password" class="form-control" placeholder="Password"/> <br />
	            		<button class="btn btn-lg btn-primary btn-block"  name="Submit" value="Login" type="Submit">Login</button> 
	        		</form>
	        	</div>
        </div>
        
    </body>
</html>