<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Login page</title>
        <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1"/>
        <link rel="stylesheet" href="/css/main.css" th:href="@{/css/main.css}" />
  		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
  		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  		<link rel="stylesheet" href="/css/login.css" th:href="@{/css/login.css}"/>
  		<link rel="stylesheet" href="/css/general.css"/>
  	</head>
    <body>
    
        <div th:substituteby="header::header"></div>
        
        <div class="container">
 		
		<form th:action="@{/registration}" role ="form"  th:object="${Member}" method ="POST">
				
			<div class="form-group">
			   <label>Your first name:</label>
			   <input type="text" name="m_first_name" class="form-control" 
			   th:field="*{m_first_name}" placeholder="first name.."/>
			   <div th:if="${#fields.hasErrors('m_first_name')}" th:errors="*{m_first_name}"></div>
				</div>
				
			 <div class="form-group">
			   <label>Your last name:</label>
			   <input type="text" name="m_last_name" class="form-control" 
			   th:field="*{m_last_name}" placeholder="last name.."/>
			   <div th:if="${#fields.hasErrors('m_last_name')}" th:errors="*{m_last_name}"></div>
				</div>
			 
			 <div class="form-group">
			   <label>Your nick name:</label>
			   <input type="text" name="m_nick_name" class="form-control" 
			   th:field="*{m_nick_name}" placeholder="nick name.."/>
			   <div th:if="${#fields.hasErrors('m_nick_name')}" th:errors="*{m_nick_name}"></div>
				</div>
			 
			 <div class="form-group">
			   <label>Username:</label>
			   <input type="text" name="m_username" class="form-control" 
			   th:field="*{m_username}" placeholder="for login.."/>
			   <div th:if="${#fields.hasErrors('m_username')}" th:errors="*{m_username}"></div>
				</div>
			
			<div class="form-group">
			   <label>Password:</label>
			   <input type="text" name="m_password" class="form-control" 
			   th:field="*{m_password}" placeholder="for login.."/>
			   <div th:if="${#fields.hasErrors('m_password')}" th:errors="*{m_password}"></div>
				</div>
			 
			<div class="form-group">
			   <label>Your birthday:(XXXX/XX/XX)</label>
			   <input type="text" name="m_birth" class="form-control" 
			   th:field="*{m_birth}" placeholder="birthday.."/>
			   <div th:if="${#fields.hasErrors('m_birth')}" th:errors="*{m_birth}"></div>
				</div>
				
				<div class="form-group">
			   <label>How old are you?:</label>
			   <input type="text" name="m_year" class="form-control" 
			   th:field="*{m_year}" placeholder=".."/>
			   <div th:if="${#fields.hasErrors('m_birth')}" th:errors="*{m_birth}"></div>
				</div>
				
				<div class="form-group">
			   <label>Your address:</label>
			   <input type="text" name="m_address" class="form-control" 
			   th:field="*{m_address}" placeholder="address.."/>
			   <div th:if="${#fields.hasErrors('m_address')}" th:errors="*{m_address}"></div>
				</div>
				
				<div class="form-group">
			   <label>Your telephone(cellphone):</label>
			   <input type="text" name="m_tel" class="form-control" 
			   th:field="*{m_tel}" placeholder="for contact.."/>
			   <div th:if="${#fields.hasErrors('m_tel')}" th:errors="*{m_tel}"></div>
				</div>
		 	
			   <button type="submit" class="btn btn-default" onclick="return confirm('確定送出?');">送出</button>
			 
		
			</form>
		
		</div>
        
        
        
        
    </body>
</html>