<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Login page</title>
        <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1"/>
        <link rel="stylesheet" href="/css/main.css" th:href="@{/css/main.css}" />
  		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
  		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  		
  	</head>
    <body>
    
        <div th:substituteby="header::header"></div>
        
        <div class = "container topMove">
        	<div class="wrapper">
        		<form >
        			<h3 class="form-signin-heading">Welcome! <span sec:authorize="isAuthenticated()" sec:authentication="name"></span></h3>
			  		
            		
            		<button sec:authorize="isAnonymous()"><a th:href="@{/login}">
      					 Login</a>
      				</button>
 
        		</form>
        	</div>
        </div>
        
    </body>
</html>