<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Login page</title>
        <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1"/>
        <link rel="stylesheet" href="/css/main.css" th:href="@{/css/main.css}" />
  		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
  		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  		<link rel="stylesheet" href="/css/login.css" th:href="@{/css/login.css}"/>
  		<link rel="stylesheet" href="/css/general.css"/>
  	</head>
    <body>
    	
    		 <div th:substituteby="header::header"></div>
        
        <div class="container">	
		<form th:action="@{/seatSelect}" role ="form"  th:object="${Ticket}" method ="POST">
				
			<table class="table table-condensed">
  
		    <thead/>
		      <tr>
				<th>票種</th>
				<th>價格</th>
				<th>數量</th>
				<th>選擇</th>
		
			</tr>
		    <tr class="info" th:each="ticket_type : ${ticket_type} ">
		        <td th:text="${ticket_type.ticket_type_name}"></td>
		        <td th:text="${ticket_type.ticket_type_price}"></td>
		        <td>
			       <select name = "amount" >
			  		 <option th:each="ticket_type : ${ticket_type} " 
			          th:value="${ticket_type.amount }" 
			          th:text="${tickt_type.amount}"></option>
			</select>	
				 </td>
				 <td><a th:href="@{ticketSelect(ticket_type_id=${ticket_type.ticket_type})}" >選擇</a></td>	
				        		            
		    </tr>
		</table>
				
	</form>
	</div>
    
          
    </body>
</html>