<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Login page</title>
        <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1"/>
        <link rel="stylesheet" href="/css/main.css" th:href="@{/css/main.css}" />
  		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
  		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  		<link rel="stylesheet" href="/css/login.css" th:href="@{/css/login.css}"/>
  		<link rel="stylesheet" href="/css/general.css"/>
  	</head>
  	
  	<script type="text/javascript">
	function getAmount(){
		var amount = form.amount.value;
	}
  	function passValue(amount) {
  	  document.getElementById('amount') = amount;
  	}
	</script>
    <body>
    	
    		 <div th:substituteby="header::header"></div>
        
        <div class="container">	
		
				
			<table class="table table-condensed">
  
		    <thead/>
		      <tr>
				<th>票種</th>
				<th>價格</th>
				<th>數量</th>
				<th>選擇</th>
		
			</tr>
		    <tr class="info" th:each="ticket_type : ${ticket_type} " th:object="${ticket_type}">
		        <td th:text="${ticket_type.ticket_type_name}"></td>
		        <td th:text="${ticket_type.ticket_type_price}"></td>
		        <td>
		        <form th:action="@{/shoppingCartAdd}" role ="form" method ="POST">
			       <select id = "amount" class="form-control" name="amount"  onchange = "this.form.submit()">
    					<option value="0">0</option>
    					<option value="1">1</option>
   				 	<option value="2">2</option>
   					<option value="3">3</option>
    					<option value="4">4</option>
    					<option value="5">5</option>
    					<option value="6">6</option>
    					<option value="7">7</option>
    					<option value="8">8</option>
    					<option value="9">9</option>
    					<option value="10">10</option>
  				</select>
  				<input type = "hidden" name="ticket_type_id" th:value="*{ticket_type}"/>
  				<input type = "hidden" name="ticket_type_name" th:value="*{ticket_type_name}"/>
  				<input type = "hidden" name="price" th:value="*{ticket_type_price}"/>
				 
				 </form>
				 </td>	
				 			        		            
		    </tr>
		    
		</table>
				
		<table class="table table-striped">
			<tr class="success">
				<th>票種</th>
				<th>價格</th>
				<th>數量</th>
				<th>合計</th>
				<th></th>
				<th></th>
			</tr>
		    <tr class="info" th:each="Order : ${@shoppingCart.cart} " th:object="${Order}">
		        <td th:text="*{ticket_type_name}"></td>
		        <td th:text="*{price}"></td>
		        <td th:text="*{amount}"></td>
		        <td th:text="*{total}"></td>
		       <td><a th:href="@{shoppingCartDelete(id=${Order.id})}" >刪除</a></td>
		    </tr>
		</table>		
		<input type ="button" onclick="history.back()" value="回到上一頁"></input>	
			
	</div>
    
          
    </body>
</html>