<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Login page</title>
        <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1"/>
        <link rel="stylesheet" href="/css/main.css" th:href="@{/css/main.css}" />
  		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
  		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  		<link rel="stylesheet" href="/css/login.css" th:href="@{/css/login.css}"/>
  		<link rel="stylesheet" href="/css/general.css"/>
  	</head>
<body>

   <div th:substituteby="header::header"></div>
	<div class = "container">
	
	
	<form th:action="@{/timeSelect}" role = "form" th:object="${Movie}" method = "POST">
 			<table class="table table-condensed">
        			<thead/>
		      <tr>
				<th>開始時間</th>	
				<th>結束日期</th>	
				<th>場次日期</th>						
			</tr>
			<tr class="info" th:each="show : ${show}" >
				<td th:text="${show.time_slot_beginning}"></td>
				<td th:text="${show.time_slot_ending}"></td>
				<td th:text="${show.time_slot_date}"></td>
				<td><a th:href="@{ticketSelect(time_id=${show.time_slot_id})}" >選擇</a></td>
        		</tr>
        		</table>
 		</form>
 		</div>
</body>
</html>