<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<body>
	  <form method="POST" enctype="multipart/form-data" action="/upload">
		  <div th:if="${message}">
		  <h2 th:text="${message}"/>
		 </div>
		
		 <div>
	
		   <table>
		    <tr><td>File to upload:</td><td><input type="file" name="file" /></td></tr>
		    <tr><td></td><td><input type="submit" value="Upload" /></td></tr>
		   </table>
		
		 </div>
		
		 <div>
		  <ul>
		   <li th:each="file : ${files}">
		    <a th:href="${file}" th:text="${file}" />
		   </li>
		  </ul>
		 </div>
</form>
</body>
</html>